
/*Titulo de la Barra lateral*/ 

.navbar {
    width: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .icono {
    width: 50px;
    height: auto;  
}

.titulo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.titulo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: small;
    color: #606060;
}

.porcentaje{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #606060;
    margin-left: 8px;
}


/* lista del menu lateral*/ 

.listado{
    width: 12rem;
    height: calc(100vh -52px);
    border-right: 1px solid #c4ccde;
}

.listado ul{
    list-style: none;
    padding: 0.5rem 0.6rem;
}

.listado li{
    margin-bottom: 0;
    padding: 0.5rem;
    text-align: center;
}

.listado a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: flex;
}

.listado a:hover{
    text-decoration: none;
    color: white;
    background: #c1c3c9;
}

.icono{
height: auto;
width: 25px;
margin-right: 15px;
}

/*submenu de la Barra lateral*/ 
.btn{
    display: block;
    padding: 16px 20px;
}

.smenu{
    overflow: hidden;
    transition: max-height 0.3s;
    max-height:0;
    margin-bottom: 0;
    margin-left: 1.5rem;
}

.smenu a{
    display: block;
    padding: 5px;
    position: relative;
    text-align: center;
}

.smenu.open{
    max-height:10em;
}

/*loader de la Barra lateral*/ 

.barra{
    width: 12rem;
    padding: 1rem;
    margin: 1rem;
}

.base{
 position: relative;
 width: 9rem;
 height: 20px;
 border-radius: 15px;
 display: flex;
 align-items: center;
 overflow: hidden;
 border: 2px solid rgba(0, 0, 0, 0.226);
}

.barra-relleno{
    position: absolute;
    width: 100%;
    height: 40px;
    border-radius: 15px;
}

.neon {
    background: linear-gradient(90deg, #606060, black);
    filter: blur(12px);
    width: 100%;
    transform: translate(-35%);
    animation: loader 4s linear
    infinite alternate;
}
@keyframes loader {
    100%
    {
        transform: translate(0%);
    }
}


.navbar2 {
    width: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar2 .icono {
    width: 50px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.correo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 10px;
    color: #606060;
}

#Documents .submenu{
    position: relative
}

#Documents .submenu .arrowDown{
    position: absolute;
    right: 5%;
    top: 40%;
}