.mainPage{
  display: flex;  
  overflow: auto;
  height: 90vh;
  background: rgba(185, 184, 184, 0.226);
}

.dashboard{
  width: 100%;
  margin: 1rem;
}

.dashboard > h1{
  color: rgba(36, 34, 34, 0.815);
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0 2rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.charts{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-auto-rows: max-content;
  margin-bottom: 2rem;
}

.charts > *{
  justify-self: center;
  align-self: center;
}


.sideMenu{
  position: sticky;
  top: 0;
}

.topMenu{
  border-bottom: 0.5px solid rgba(36, 34, 34, 0.267);
  box-shadow: 0px -3px 10px rgba(36, 34, 34, 0.267);
}

.box{
  background: white;
  border-radius: 5px;
  border: 0.5px solid rgba(36, 34, 34, 0.267);
  box-shadow: 2px 2px 5px rgba(36, 34, 34, 0.267);
}