.selectedCol {
    background-color: rgba(0, 0, 0, 0.056);
}

.colHeader {
    cursor: pointer;
    user-select: none;
}

.colHeader:hover {
    background-color: rgba(0, 0, 0, 0.056);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: 100ms;
}

.arrowDown {
    position: absolute;
    width: 10px;
    height: auto;
    right: 10%;
    top: 40%;
    fill: rgba(37, 37, 37, 0.493);
    pointer-events: none;
}

.arrowDown.ASC {
    transform: rotate(180deg);
}